[2020-02-22 17:19] farlee2121 opened #2 "ApikeyProvider never called"
I'm trying to setup api authentication with Asp.Net Core 3.1. To the best of my ability to discern, i'm following this library's setup instructions, but I always get a 401 Unauthorized response without a call to my ApiKeyProvider.

Is the library perhaps not compatible with Asp.Net Core 3.1?

Here's what I've got so far

[code]

[code]

[code]

[code]

[2020-02-22 18:17] farlee2121 commented on #2
Well, a few issues going on, but the key part was that `startup.cs` must __not__ call `app.UseAuthorization()`

[2020-02-22 18:17] #2 closed, assigned to nobody

[2020-02-23 01:02] mihirdilip commented on #2
@farlee2121 thank you for your feedback. I really appreciate it. I have not tested it on Asp.Net Core 3.1 yet. Did you get it working? Usually the order should be app.UseAuthentication(); before app.UseAuthorization();

I would really appreciate if you can let me know of other issues so that I can address them and fix them.

[2020-02-23 02:38] farlee2121 commented on #2
I thought I had it working, but sadly I did not.

Once I removed .UseAuthorization(), it would hit my breakpoint in the ApiKeyProvider. However, then it would 500 error saying that there was no middleware to handle the Authorize attribute (makes sense).
I don't understand the NetCore auth pipeline well enough yet to have an intuition for the breakpoint behavior : /

It didn't matter what order I h

[2020-02-23 10:32] mihirdilip commented on #2
Hi @farlee2121
Please bear with me as I am messaging from my phone.

You need to move UseSwagger bits to top. UseEndpoints should be last in the pipeline. Refer to this document..
https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle

Also I have noticed in your sample you are building Configuration in the ProvideAsync() method. In case if you are not aware, you c

[2020-02-26 17:28] mihirdilip commented on #2
Hi @farlee2121, Did you had any luck with the above?

[2020-02-26 23:29] farlee2121 commented on #2
I'm confused. I ran your sample app, it worked as expected.
I tried implementing it in my project, wasn't working. Kept fiddling, and suddenly it worked. Now I can't get it to break again.

Something that may have been tripping me up, **the ApiKeyProvider will not be called if the expected apikey header is not present**.

 If I had to guess, I thought I was running tests with and without a header

[2020-02-26 23:30] farlee2121 commented on #2
Thanks for your help!

[2020-02-27 07:35] mihirdilip commented on #2
No worries.. Good to know that you have got it working.

[2020-04-28 15:53] hanssens opened #3 "How to configure the api key to be mandatory?"
I'm encountering the scenario where if you don't add a header key, it will skip authentication.

For example, this works - as it will nicely trigger the middleware:

[code]

However, **skipping** or not providing a key will simply skip the authentication altogether:

[code]

Is there a way to make the api key mandatory?

Edit: This issue has also been noted [in this comment](https://github.com/mih

[2020-04-28 15:54] hanssens commented on #3
Here is a reproducible sample, as I'm using it with a clean, skeleton AspNetCore 3.1 API, with the following two modifications.

Example of **Startup.cs**:

[code]

And example of my custom middleware, grouped in **ApiKeyAuthentication.cs**:

[code]

[2020-04-28 18:56] mihirdilip commented on #3
@hanssens, it is not the responsibility of this library to make every endpoint on your server to be authorized. It is part of ASP.NET Core and it is upto you how you want to handle it.

Try the below..

[code]
I hope this helps.

Let me know if you have any issues.

[2020-04-28 19:02] hanssens commented on #3
Thanks @mihirdilip. I understand your concern. However, would a feature that makes this behaviour configurable make sense?

**TL;DR -** I've setup [a simple change](https://github.com/hanssens/aspnetcore-authentication-apikey/commit/0f2b55baab73474e5933de83076b4e8c39eeda44) (work in progress, but you get the idea) which I think would add value to your library. What's your opinion on making this be

[2020-04-28 19:09] mihirdilip commented on #3
Thanks for your feedback @hanssens, I am sorry I am not currently accepting any PR. I will however keep this in mind for any future updates.

For your solution all you have to do is chain .RequireAuthorization() in your implemetation for the authorization to work.

[code]

And regarding [this comment](https://github.com/mihirdilip/aspnetcore-authentication-apikey/issues/2#issuecomment-591697835),

[2020-04-28 19:33] mihirdilip commented on #2
Hi @farlee2121,

I hope you are well.

I apologize that I may have missunderstood your comment. I read it as you had got it working until I was pointed to this comment by above.

In case if you still have this issue outstanding.. try the following on ConfigureServices method on Startup class.

[code]

[2020-04-28 20:44] farlee2121 commented on #2
Thanks for checking in.

The behavior mentioned in issue #3 is not the behavior I thought I was seeing before. However, I tested and was able to replicate the issue. I'd say that qualifies as a security flaw 😰

[2020-04-28 21:19] mihirdilip commented on #2
I would not class it as security flaw. It is how asp.net core is designed. You have to opt in to authorize specific or all request(s) you want to authorize.

To authorize a specific endpoint you can decorate either the controller or the method with [Authorize] (filter) attribute.

To apply authorize filter all the requests by default you have to add the following to the Startup class.

[code]

Ple

[2020-04-29 06:59] hanssens commented on #3
Cheers. That works indeed. But there was an underlying problem at my end why the [Authorize] attribute wasn't challenged.

1. Accidently `System.Web.Http.Authorize` was used to decorate certain Controllers, instead of `Microsoft.AspNetCore.Authorization`.
2. ApiKeyAuthentication needs to be registered _before_  `app.UseAuthorization()`

For me, this closes the issue.

This means that the 'IsRequir

[2020-04-29 07:22] mihirdilip commented on #3
Thanks for you feedback. I will add some notes to the documentation soon.

Yes with netcore 3.0 and later you have to use it in a specific order.

[code]

If you are using controllers, you can perhaps always challenge all the requests by adding either of below on Startup class (depending what you are using)

[code]
[code]

[2020-04-29 07:23] #3 closed, assigned to nobody

[2020-08-13 07:03] MNF opened #5 "Provide sample application."
I really appreciate a very detailed documentation in readme.
However it will be useful to add an example folder with both client and server projects working together.

[2020-08-13 13:43] mihirdilip commented on #5
Hi @MNF, I appreciate your suggestion.
I am working on another release with which I may include quick sample project within here on the repository.
But, here are some samples I already have on separate repositories.
- [authentication-serverside-samples](https://github.com/mihirdilip/authentication-serverside-samples)
- [authentication-clientside-samples](https://github.com/mihirdilip/authenticatio

[2020-08-13 20:22] MNF commented on #5
I created PR https://github.com/mihirdilip/aspnetcore-authentication-apikey/pull/6 to add links to readme

[2020-08-13 20:40] mihirdilip commented on #5
@MNF,  I appreciate your effort but I am sorry I am not accepting any PR at the moment. Thank you for your understanding.

[2020-09-13 10:37] #5 closed, assigned to nobody

[2020-10-26 09:50] NT-Thanh opened #11 "Check for owner of the api key"
I wonder how can i check that a owner are using an api key that belongs to another client and prevent it?
Is there any way to pass owner name within the header and then validate it in the ProvideAsync method

[2020-10-26 20:38] mihirdilip commented on #11
@NT-Thanh not sure if I understand your question. Can you give me a scenario of what you are trying to solve here?

Assuming you are using aspnetcore, you should be able to access any request headers you want in the ProvideAsync method by injecting IHttpContextAccessor via constructor to the implementation of IApiKeyProvider. Please refer to this link on how to use it.
https://docs.microsoft.com/e

[2020-10-27 15:00] maartenmensink opened #12 "Support of multiple schemas and IApiKeyProvider"
Hi,

Thanks for creating this library. I was testing the library and came across the following.

I am trying to add a second schema but due to a registration issue in the ApiKeyExtension the second provider overrides the first provider.

[code]

[ApiKeyExtensions on line 384](https://github.com/mihirdilip/aspnetcore-authentication-apikey/blob/master/src/AspNetCore.Authentication.ApiKey/ApiKeyExten

[2020-10-27 15:44] maartenmensink opened #13 "Incorrect Handler being applied in AddApiKeyInHeader"
Found a small bug in the extension. The extension implies only header handling should be applied but the ApiKeyInHeaderOrQueryParamsHandler is applied

On line https://github.com/mihirdilip/aspnetcore-authentication-apikey/blob/master/src/AspNetCore.Authentication.ApiKey/ApiKeyExtensions.cs#L130 it should be `ApiKeyInHeaderHandler` instead of `ApiKeyInHeaderOrQueryParamsHandler`

[code]

[2020-10-27 23:51] mihirdilip commented on #13
Thanks for spotting this. I have pushed a fix with #14. I will soon push a new NuGet release.

[2020-10-27 23:51] #13 closed, assigned to nobody

[2020-10-28 19:24] mihirdilip commented on #11
@NT-Thanh did you manage to solve your problem?

[2020-10-28 20:23] mihirdilip commented on #12
Hi @maartenmensink, I really appreciate for taking your time out to test the library and raising issues. I have pushed changes to the master branch. I hope this will fix the issue. Please let me know if it passes your tests and you are happy with the implementation. If you are using NuGet package and not source code from github then I can push it to NuGet for you to try it out.

[code]
Please let

[2020-10-28 20:25] mihirdilip commented on #13
I have just spotted that there are some redundant extensions methods which I will get rid off in a bit. Once again thanks for your feedback, much appreciated.

[2020-10-28 20:50] mihirdilip commented on #13
On second thought, I will leave them in just in case it is used/setup differently which I am not aware of. By the way I was thinking of removing the extension methods without configureOptions parameter as some properties on this options are required to be set. And now I have decided not to.

[code]

[2020-10-29 03:09] NT-Thanh commented on #11
This's exactly what i need, thank you so much!

[2020-10-29 03:09] #11 closed, assigned to nobody

[2020-10-30 15:18] maartenmensink commented on #12
You are welcome a nuget would be great. I can test the fix first if you would like.

[2020-10-31 17:19] mihirdilip commented on #12
@maartenmensink I have uploaded it on NuGet. Version is 3.1.1

[2020-11-30 07:44] haykpetros opened #15 "AllowAnonymous being ignored in HandleAuthenticateAsync() method"
Hi @mihirdilip,

While testing I noticed that [AllowAnonymouse] attribute is being ignored - meaning that regardless if the attribute is present or not authentication process is still being performed.

The problem is with HandleAuthenticateAsync() not taking into consideration the presence of the attribute. I thought about updating the code and doing a pull request, but because it is targeting .NE

[2020-12-04 10:38] mihirdilip commented on #15
Hi @haykpetros,

Thanks for testing it out. Sorry I am not ignoring this issue, it is just that I did not had time to look into this. I will hopefully be able to have a look over weekend. Meanwhile, I have not seen any other authentication handler (eg. [JwtBearerHandler](https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs)) checking for Al

[2020-12-04 10:39] mihirdilip commented on #12
Hi @maartenmensink, has the new release fixed the issue for you?

[2020-12-08 00:11] mihirdilip commented on #15
Hi @haykpetros,

Investigating this matter, it was concluded that AllowAnonymous (filter) attribute is meant to be used for Authorization and not Authentication as per asp-net-core framework implementation. However, as per your suggestion above, I have added an option [IgnoreAuthenticationIfAllowAnonymous](https://github.com/mihirdilip/aspnetcore-authentication-apikey/blob/9a482c1b2637ca45bf783cb5

[2020-12-08 16:50] ZNS opened #17 "Identity IsAuthenticated false"
Hi. I've tried to implement this. The ApiKeyProvider triggers and returns a IApiKey and it seems to work but HttpContext.User.Identity.IsAuthenticated is still false. Do I need to implement this myself like calling HttpContext.SignInAsync?

[2020-12-08 17:04] ZNS commented on #17
My bad I guess. I returned an empty claims list, when I added a claim it seems to work.

[2020-12-08 17:21] mihirdilip commented on #17
Hi @ZNS, Not sure how you are using the library and which version? I have tried with empty claims list from the Provider and it works fine. Please send some code snippet if you are still having problem otherwise please close the issue.

[2020-12-14 11:01] mihirdilip commented on #12
Assuming it is fixed, I am closing this issue.

[2020-12-14 11:01] #12 closed, assigned to nobody

[2020-12-14 11:02] mihirdilip commented on #15
Assuming it solves the problem, I am closing this issue.

[2020-12-14 11:02] #15 closed, assigned to nobody

[2020-12-14 11:03] #17 closed, assigned to nobody

[2020-12-14 13:34] maartenmensink commented on #12
Sorry havent been able to find the time to test the fix but looking at the commit it will work!

[2020-12-18 13:33] tranthaibinh111 opened #18 ".NET Core 3.1 error with version 3.1.0 or newer"
when I upgrade 2.2.0 to a newer then error "Invalid API Key provided by IApiKeyProvider".

Please help me.

[2020-12-18 14:59] mihirdilip commented on #18
@tranthaibinh111 , when returning back IApiKey from IApiKeyProvider.ProvideAsync(string key) are you returning the same key passed as method parameter as IApiKey.Key? Because, with 3.1.0 introduces extra check of this field (IApiKey.Key) against the key passed in Header/QueryParam. If it is really a problem for you, then you can set ApiKeyOptions.[ForLegacyIgnoreExtraValidatedApiKeyCheck](https://

[2020-12-21 04:31] tranthaibinh111 commented on #18
@mihirdilip ,
I understand and set ApiKeyOptions.ForLegacyIgnoreExtraValidatedApiKeyCheck to true on Startup.cs. It worked.
Thanks very much!

[2020-12-24 10:31] tranthaibinh111 opened #19 "Error ApiKeyInHeaderOrQueryParamsHandler"
Hi @mihirdilip ,
Now, I used version 5.0.0.

I have some APIs that allow anonymously. I set ApiKeyOptions.IgnoreAuthenticationIfAllowAnonymous to true on Startup.cs.
However, I was been an error "Invalid API Key provided by IApiKeyProvider" at
AspNetCore.Authentication.ApiKey.ApiKeyInHeaderOrQueryParamsHandler  when running.

Please help me. ^_^

[2020-12-24 12:16] mihirdilip commented on #19
Hi @tranthaibinh111 please send me the code snippet of your startup class, problem controller/endpoint and ApiKeyProvider and also what aspnetcore version you are using? Or may be point me to you GitHub repo where you are using this.

[2020-12-24 12:19] #18 closed, assigned to nobody

[2020-12-25 05:12] tranthaibinh111 commented on #19
Hi @mihirdilip,

I was using .NET Core 3.1.10 and deployed on IIS 10.

Startup.cs
-------------------------------------------------------------------------------
public void ConfigureServices(IServiceCollection services)
{
  #region Security
  services.AddCors(options =>
    options.AddPolicy(MyAllowSpecificOrigins,
      builder =>
      {
        // Origins
        var origins = new List<string>

[2020-12-25 17:53] mihirdilip commented on #19
Hi @tranthaibinh111 thanks for sending the code snippets.
- I tried it myself on my sample app with AllowAnonymous on one of the endpoint on controller and similar settings as yours on startup AddApiKeyInHeaderOrQueryParams which worked for me without any issue. So I was not able to replicate the issue.
- I still need to see Configure method on the Startup class to see how you are setting up the m

[2020-12-26 06:30] tranthaibinh111 commented on #19
Hi @mihirdilip ,

[2020-12-26 07:07] tranthaibinh111 commented on #19
Hello @mihirdilip!

1) I have set options.AddApiKeyInHeaderOrQueryParams<ApiKeyProvider>().
2) I'm glad I knew how to use the option.KeyName = "Authorize".
I hope you will write option.KeyName = "Authorize" in README.md.
3) Sometimes my SEQ logger reports a problem but my back-end works fine. In recent days, do not see the above problem. Hence I will close this issue.

Thanks very much. ^ _ ^

[2020-12-26 07:07] #19 closed, assigned to nobody

[2020-12-26 10:58] mihirdilip commented on #19
@tranthaibinh111 thanks for letting me know that it is working :)

[2021-02-08 14:28] cjblomqvist opened #20 "Suggestion: Possibility to have different keys for query and header"
What the title says, it would nice to have different key name for the query parameter and the header. Headers often have certain considerations, which query params don't, which make a name that works in both scenario rather ugly and unintuitive (e.g. 'X-API-KEY' is nice as a header key, but quite unexpected as a query param.

Anyway, not critical. Thanks for your lib - great work!

[2021-02-08 15:51] mihirdilip commented on #20
Hi @cjblomqvist ,

Thanks for a very good suggestion. Glad to know that you like the library. I had a quick look and to solve your suggestion I can suggest 2 solutions as below. I have tried the below on .NET 5 so it may be little bit different on older .NET Core versions. I hope this helps. Let me know your thoughts. :)

#### Solution 1
It would try to use the default scheme first and then fallba

[2021-02-15 11:00] OPSnake opened #21 "Change visibility of ApiKeyInAuthorizationHeaderHandler"
Change visibility of ApiKeyInAuthorizationHeaderHandler to public.

[2021-02-15 11:32] mihirdilip commented on #21
Thanks for your comment @OPSnake. Some explanation/reason for doing so would help.

[2021-02-15 11:32] mihirdilip commented on #20
Hi @cjblomqvist, did the above solve the problem?

[2021-02-15 12:44] OPSnake commented on #21
I dynamically configure and inject different authentication handlers into a multi-tenant application depending on the client configuration.

For that I would need to access the ApiKeyInAuthorizationHeaderHandler class rather than looking for it by relflection

[2021-02-15 12:57] mihirdilip commented on #21
@OPSnake, please send a code snippet where/how you configure and inject different authentication handlers depending on configuration?

Would you be able to use IAuthenticationSchemeProvider to extract Handler type?

[code]

[2021-02-24 19:36] cjblomqvist commented on #20
Sorry I haven't had the time to test this yet. It looks reasonable though!
It would be awesome to have a simple built in API for it, but I can understand you want to limit complexity as well.

[2021-02-26 18:06] mihirdilip commented on #20
I have tested both suggested solutions and they both works. I shall close this issue. Feel free to reopen if you have any queries.

[2021-02-26 18:06] #20 closed, assigned to nobody

[2021-02-26 23:40] mihirdilip commented on #21
Hi @OPSnake, just to let you know that I have changed the visibility of all the handlers to public with new release of the library.
[Link to NuGet](https://www.nuget.org/packages/AspNetCore.Authentication.ApiKey/5.1.0)
[Link to Release](https://github.com/mihirdilip/aspnetcore-authentication-apikey/releases/tag/5.1.0)

Thanks for using the library and your feedback.

[2021-02-26 23:40] #21 closed, assigned to nobody

[2021-03-05 14:08] renerlemes opened #23 "Access IApiKey in Controller or Get ApiKey in Controller"
How to access IApiKey in the Controllers, to obtein the ApiKey?

[2021-03-05 14:10] renerlemes opened #24 "CustomResponse on NotAuthorization"
How to implement the custom data to return in the response when the status code is 401 Unauthorized in class that implement the IApiKeyProvider?

[2021-03-05 15:03] mihirdilip commented on #23
@renerlemes, What properties from ApiKey do you want to use on Controller? You can use User object on Controller which would tell you if a User is authenticated or not and also have access to all the Claims you may have set against user.

If you really want to access IApiKey the you can use HttpContextAccessor on your implementation of your IApiKeyProvider to add ApiKey to the Context.Items which

[2021-03-05 15:11] mihirdilip commented on #24
@renerlemes, IApiKeyProvider is not responsible for such complex task.

Why don't you set ApiKeyOptions.Events.OnHandleChallenge? Have a look at the Sample code below. It is commented out but that it how you can set anything you want on the response.
https://github.com/mihirdilip/aspnetcore-authentication-apikey/blob/bd929dc891d632d42e3c58bba595de49e067e89c/samples/SampleWebApi_5_0/Startup.cs#L114

[2021-03-05 15:24] mihirdilip commented on #24
I had a quick go on my sample project mentioned above and it actually works as long as ProvideAsync method is hit!

[code]

[2021-03-05 20:30] renerlemes commented on #23
ApiKey.cs
[code]

ApiKeyProvider.cs
[code]
Startup.cs
[code]
TestController.cs
[code]

[2021-03-05 20:40] renerlemes commented on #24
In the other issue I sent you, I did this example using the IApiKeyProvider implementation and it worked. I used the Events that would be in Startup.cs within the class. I don't know if it's the best way to do it, but it worked.
But if you have any suggestions, if not, you can close this issue.

[2021-03-06 12:36] mihirdilip commented on #23
Hi @renerlemes, I can suggest 3 different solutions for what you want.

ApiKeyProvider.cs
[code]

ApiKeyAccessor
[code]

Startup.cs
[code]

TestController.cs
[code]

[2021-03-06 12:43] mihirdilip commented on #24
@renerlemes, it is perfectly correct way to do it. My suggestion is to override `ValidateKeyAsync(ApiKeyValidateKeyContext context)` method from ApiKeyEvents and remove implementation of `IApiKeyProvider`. Please see [my comment](https://github.com/mihirdilip/aspnetcore-authentication-apikey/issues/23#issuecomment-791930334) on your other issue #23.

[2021-03-08 11:54] renerlemes commented on #23
@mihirdilip I followed all the steps you suggested, but it was an error.

InvalidOperationException: Either OnValidateKey delegate on configure options Events should be set or use an extention method with type parameter of type IApiKeyProvider.

[2021-03-08 14:39] mihirdilip commented on #23
@renerlemes
Try assigning  `OnValidateKey` on the constructor as below. Please note than I have changed the method name `ValidateKeyAsync` to `OnValidateKeyAsync` as I did not want to override it otherwise it might go into infinity loop of calling each other. Again I have not tried it but I think this will work. If you want  you can do same for `OnHandleChallenge`. Please let me know how it goes a

[2021-03-08 14:47] renerlemes commented on #23
I used the `ValidateKeyAsync` method and it worked without the loop too. Being able to access the Controller in another way, but based on the ideas you gave. It was very good. Thank you so much for your help. Congratulations on this project and for maintaining it.

[2021-03-08 16:03] mihirdilip commented on #23
My pleasure.. thank you for your patience and using the library. It is good to know it is useful to fellow developers. 🙂

[2021-03-17 11:59] veikkoeeva opened #25 "Adding"
Say, if I have the following setup with some controllers that are either with `[Authorize("AzureAd")]` or `[Authorize("ApiKeyScheme")]`. The intention is to require API key only for controllers marked with `[Authorize("ApiKeyScheme")]`.

It appears API calls fault also on  `[Authorize("AzureAd")]` since API key has not be sent. So it appears the API key is applied to all controllers with `[Authori

[2021-03-17 12:00] veikkoeeva opened #26 "How to add API key authorization so it is not required to APIs with other schemes?"
Say, if I have the following setup with some controllers that are either with `[Authorize("AzureAd")]` or `[Authorize("ApiKeyScheme")]`. The intention is to require API key only for controllers marked with `[Authorize("ApiKeyScheme")]`.

It appears API calls fault also on  `[Authorize("AzureAd")]` since API key has not be sent. So it appears the API key is applied to all controllers with `[Authori

[2021-03-17 12:00] #25 closed, assigned to nobody

[2021-03-17 12:01] veikkoeeva commented on #25
Apologies for tapping too many times and opening two issues instead of one.

[2021-03-17 12:34] mihirdilip commented on #26
@veikkoeeva, You can remove both `AddAuthorization()` calls from your setup since you are decorating the specific controllers/endpoints with `[Authorize("SCHEME")]` metadata.

Also, you should only have 1 AddAuthorization call to set DefaultPolicy. In your case, the last AddAuthorization sets DefaultPolicy to ApiKeyScheme and so it will always be triggered for all the calls no matter what is set o

[2021-03-17 16:47] veikkoeeva commented on #26
@mihirdilip I can confirm your suggestion to remove `.AddAuthorization` and rely only on attributes on controllers does work. After this change API key is only required on controllers that are explicitly decorated with `[Authorize("ApiKeyScheme")]`.

This change presents two other things worth mentioning here, I believe. Going this route removes `RequireClaim(ApiKeyConstants.RequiredApiKeyClaim);`

[2021-03-17 17:05] veikkoeeva commented on #26
I dug a bit deeper into this. This interplay with authentication and authorization may be relavant to others who use `Authorize` attributes in different roles combined with authentication. A few links: https://github.com/dotnet/aspnetcore/issues/18954#issuecomment-624888077 and https://github.com/dotnet/AspNetCore.Docs/issues/16389.

[2021-03-17 17:10] mihirdilip commented on #26
Glad to know that it works for you.

Not sure if I understand your query, but I will try to answer..

You should be able to check this on the implementation of `IApiKeyProvider`? If you are not using `IApiKeyProvider` then it could be handled in `ApiKeyOptions.Events.OnValidateKey`?

Other way is to define Policy on your Startup class which you can use with `[Authorize("POLICY_NAME")]`?  [Check it

[2021-03-17 17:16] veikkoeeva commented on #26
@mihirdilip I need to take that a bit back. The API key check does not need to succeed with that fix. I.e. the function

[code]

can set the claim or not but the end result is the same: no effect. I.e. the key can be whatever. This seems natural since there is nothing to check if there are claims.

EDIT: I just read better your message a few minutes before. Let I try to check the existence of a cl

[2021-03-17 17:32] mihirdilip commented on #26
@veikkoeeva you can either use [something like this](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/claims?view=aspnetcore-5.0) if you want to Authorized based on claims.

Other trick is to add your claim as Roles and use `[Authorize("ApiKeyScheme", Roles = ApiKeyConstants.RequiredApiKeyClaim)]` ;)
Check out this line `claims.Add(new Claim(ClaimTypes.Roles, ApiKeyConstants.Req

[2021-03-17 17:39] veikkoeeva commented on #26
@mihirdilip Heh, yes well, that adding `Roles` may bring new complications into picture as in one of the links is being discussed. :P

I'll add here that the following seem to work. I think with this the issue can be closed. If I notice something I may try to test your kindness with a new one. Let I wish you a good day and thank you for the help!
[code]

[2021-03-17 17:53] #26 closed, assigned to nobody

[2021-03-17 17:54] mihirdilip commented on #26
You are welcome @veikkoeeva. Thanks using the library for your feedback.

[2022-04-27 15:15] afazio82 opened #30 "If I use JwtBearer authentication together with ApiKey it always commands JwtBearer and authentication fails"
I'm probably doing something wrong.
By removing the JwtBearer authentication code, the ApiKey works

// Authentication APIKEY
builder.Services.AddTransient<IApiKeyRepository, InMemoryApiKeyRepository>();
builder.Services.AddAuthentication(ApiKeyDefaults.AuthenticationScheme)
    .AddApiKeyInHeaderOrQueryParams<ApiKeyProvider>(options =>
    {
        options.Realm = "Sample Web API";
        optio

[2022-04-27 15:27] mihirdilip commented on #30
It may be because you are using 2 AddAuthentication and the last one added is being used. Refer to using [multiple schemes here](https://github.com/mihirdilip/aspnetcore-authentication-apikey#multiple-authentication-schemes) and try something like below..

builder.Services.AddAuthentication(
options =>
{
options.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;
options.DefaultCha

[2022-04-27 15:43] afazio82 commented on #30
no way....
also in this way it always commands JwtBearer authentication.
Apikey authentication is completely ignored

[2022-04-27 18:44] mihirdilip commented on #30
I don't know how you are authorizing your request and against what scheme. I would be able to help if you could send the code snippet for when you want to use JWT and for what requests you want to use APIKey.

Also refer to this issue #20 . It might help. Although it is using 2 different types of AddApiKey schemes, imagine one as your JWT and one as ApiKey. https://github.com/mihirdilip/aspnetcore

[2022-04-29 07:45] afazio82 commented on #30
I solved the problem.
I set up in multiple scheme like so:

builder.Services.AddAuthentication(
    options =>
    {
        options.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;
        options.DefaultChallengeScheme = JwtBearerDefaults.AuthenticationScheme;
        options.DefaultScheme = JwtBearerDefaults.AuthenticationScheme;
    }).AddJwtBearer("JwtBearer", options =>

[2022-04-29 18:45] mihirdilip commented on #30
That's one another way of achieving it. Good to know that you solved the problem. :)

[2022-04-29 18:45] #30 closed, assigned to nobody

[2022-05-02 14:50] renerlemes commented on #24
I lost the project that had the implementation of this question working. That's why I'm reopening.

I'm using ApiKeyEvents and when it's not valid for example the key, I use context.ValidationFailed() and it's still allowing to enter the controller, shouldn't it return 401? The HandleChallengeAsync method is not called too.

[2022-05-02 16:06] mihirdilip commented on #24
Please send me your code implementation ApiKeyEvents.

[2022-05-02 16:15] renerlemes commented on #24
I found the problem. I´m using the custom Authorize Filter.
So after ValidateKeyAsync method is ended, the custom authorize filter is called and return the Ok status per exemple and the method HandleChallengeAsync is not called. When I use Authorize filter only, it´s work.
Is possible to use with custom Authrorize Filter?

[code]

AuthorizeFilter.cs

[code]

See the comment in the OnAuthorization

[2022-05-02 18:41] mihirdilip commented on #24
That's right, your custom AuthorizationFilter is overriding the default authorization behaviour and, should validate and the set the context result as required. You could try what you suggested in the comments above if it works for you. The other option I can think of is to inherit from the default AuthorizeFilter?

Also, what are you trying to achieve by using custom Authorization filter? Can it

[2022-05-02 19:56] renerlemes commented on #24
Inherit from AuthorizeFilter worked!
I create a custom Authorization Filter beacuse I wanted a custom parameters instead use Policy.
Tks

[2022-05-02 19:56] #24 closed, assigned to nobody

[2022-05-11 00:09] Eternal21 opened #31 "Double log entries during authentication"
I'm using this package in ASP.NET Core WebAPI 6.0.  Whenever my ApiKey authenticates, I end up with doubled log entries like this:
[code]

It almost looks like I have two log sinks, but for debug purposes I made sure to turn them all off like this:
[code]
If I comment out the `AddDebug()` line above I get no log entries.  When I uncomment it, I get double log entries, so this proves it's not doubl

[2022-05-11 10:49] Eternal21 commented on #31
I also verified the authentication happens only once, by subscribing to the `OnAuthenticationSucceeded` event, and making sure it only gets hit once:

[code]

[2022-05-11 16:15] Eternal21 commented on #31
Here's the log message with the source context information:
[code]

The source is: `AspNetCore.Authentication.ApiKey.ApiKeyInHeaderHandler`

I also ran the log with `Trace` level enabled, and it does look like the auth takes place twice internally:
[code]

[2022-05-13 17:46] mihirdilip commented on #31
Hi @Eternal21, thank you for all the information you have provided.

Looking at your debug trace logs, although ApiKeyInHeaderHandler logs appears twice, the 2 sets of asp.net middleware pipeline logs are different.

I tried it on some of my sample projects (.NET 6, .NET 5 and .NET Core 3.1) and non of them generated duplicate log entries for me. I will need more details on what version of .net yo

[2022-05-13 19:13] Eternal21 commented on #31
@mihirdilip Thanks for the response.  I will try to reproduce this with a minimum sample project and share the repo if it happens.

[2022-05-13 20:37] Eternal21 commented on #31
@mihirdilip I was able to reproduce the issue with the following repo: https://github.com/Eternal21/double-log-issue

To run the repo, just run IISExpress configuration, and hit it using the following request from Postman: `GET http://localhost:19333/WeatherForecast` after adding the following header: `X-API-KEY: testKey`

It is due to me adding `BearerOrApiKey` policy scheme, but I don't understa

[2022-05-13 21:10] mihirdilip commented on #31
I am not on PC so couldn't try it. Replying from my phone. One thing I would suggest to try is on [this line](  https://github.com/Eternal21/double-log-issue/blob/b8a5923d80c7647104256d4952d4b08824427ea4/DoubleLogProject/Program.cs#L9) replace ApiKeyDefaults.AuthenticationScheme with "BearerOrApiKey"

And on [this line](https://github.com/Eternal21/double-log-issue/blob/b8a5923d80c7647104256d4952d

[2022-05-13 21:38] Eternal21 commented on #31
You may be on to something with the `AddAuthentication`.  Your suggestion did not work, but replacing [this line](https://github.com/Eternal21/double-log-issue/blob/b8a5923d80c7647104256d4952d4b08824427ea4/DoubleLogProject/Program.cs#L9):
```builder.Services.AddAuthentication(ApiKeyDefaults.AuthenticationScheme)```
with this
```builder.Services.AddAuthentication()```
eliminates the double log.  So

[2022-05-13 22:01] mihirdilip commented on #31
Yh it would be good to see code with .AddJwtBearer

[2022-05-13 22:08] Eternal21 commented on #31
I added the `AddJwtBearer` scheme to the repo.  Same results.  Removing the defaults from `AddAuthentication(...)` fixes the double logging.  Unfortunately it only fixes it in this sample code and not my real app, even though the `AddAuthentication()` section is now exactly the same as in my real code.  In any case, I guess you can close this issue, since I can't reproduce with sample app.  At lea

[2022-05-13 22:35] mihirdilip commented on #31
How about trying this? Note the scheme names "Bearer" and "ApiKey".

[code]

[2022-05-13 22:40] Eternal21 commented on #31
This causes double entries in the sample code.  That can then be fixed by not passing anything to `AddAuthentication` options.

[2022-05-13 22:45] Eternal21 commented on #31
I also noticed the following.  With the setup from your post above, even if I explicitly set the endpoint to be authenticated with `ApiKey` as shown below.  I still get double authentication:
![image](https://user-images.githubusercontent.com/9355996/168398310-30876882-d8a5-4590-9ba2-223d14047d8f.png)

[2022-05-13 22:45] mihirdilip commented on #31
In that case don't pass anything to `AddAuthentication` since you are using `[Authorize]` attribute with your preferred scheme name anyways.

[2022-05-13 23:06] Eternal21 commented on #31
The only other thing I found is which default in particular causes double log entries in sample app.  But again, this doesn't help in my real app.  Something else is going on and I'm giving up, since I can't reproduce it in the sample.  At the very least I know that the `OnAuthenticationSucceeded` event only gets hit once, so at least validation is not being performed twice.

[code]

[2022-05-17 04:56] michael-freidgeim-webjet opened #32 "Noise logs "No Api Key found in the request." for controller without [AllowAnonymous] attribute"
Using V6.0 we got a lot of noise LogInformation("No Api Key found in the request."); for controller that doesn't have any attributes.
According to documentation we should set IgnoreAuthenticationIfAllowAnonymous and specify [AllowAnonymous] for every controller/method that doesn't need authentication.

Is it possible to [AllowAnonymous] by default to all controllers in startup without adding indiv

[2022-05-17 05:22] pandurangan-durai-webjet commented on #32
IgnoreAuthenticationIfAllowAnonymous  and AllowAnonymous still not stopping the log "No Api Key found in the request".

Version: 6.0.1  - Install-Package AspNetCore.Authentication.ApiKey -Version 6.0.1

[2022-06-23 13:34] eduard-tapkey opened #33 "OnAuthenticationFailed does not change Status Code"
Hi,
when veryfing APIKey format and value, and the value is incorrect, I throw an exception.
This results into a problem, that HttpResponse has 500 status code.
As this happens during Authorization, I would like to return 401 instead. I figured out that the right point should be defining an event for OnAuthenticationFailed in Startup.cs . I did it based on different implementations I found online,

[2022-06-23 14:04] mihirdilip commented on #33
Can you post the snippet of you code where you are throwing exception? Is there a requirement for you to throw an exception? If not and if you are using implementation of IApiKeyProvider then you can just return null for invalid match.

On other note, have you tried with only setting the status code to 401 i.e. just the 1st line on the above code snippet?

[2022-06-23 17:38] eduard-tapkey commented on #33
When I use only 1st line of the code, it returns 500. So setting seems to be ignored.

Here is implementation of IApiKeyProvider, where I am throwing an exception. The reason why I am not returning null is to explain also what is wrong with ApiKey in this case

[code]

I would expect that such exception would translate to 401, but if not, I would like to translate it.
If it is not possible, I cam

[2022-06-23 18:13] mihirdilip commented on #33
Do not implement `IApiKeyProvider` and try implementing the `OnValidateKey` delegate on the Events instead. Check it out [here on the samples](https://github.com/mihirdilip/aspnetcore-authentication-apikey/blob/6e9e0523564b3d7e44875e2883c47db6e26d60ca/samples/SampleWebApi_6_0/Program.cs#L68).

Cannot remember how the message is returned on the response with `context.ValidationFailed(message)`. If

[2022-06-24 06:46] eduard-tapkey commented on #33
so I assume something like this should do, right? Because it still goes further and returns 500 on further steps (it doesn't fail here)
[code]

[2022-06-24 08:07] mihirdilip commented on #33
Just to double check - you have removed IApiKeyProvider implementation and any path in ApiKey.ValidateApiKey call does not throw any exception?

[2022-06-24 09:41] eduard-tapkey commented on #33
Yes, correct as you said.
Problem is that there is policy defined with additional Requirements. And these requirements do rely on ApiKey being validated.
It seems that even when validation has failed, it still continues to requirements and that throws 500 then.
When I remove the policy/requirements, it returns 401. Message is not defined though.

[2022-06-24 11:02] mihirdilip commented on #33
Good find. So now you know where the problem is. Hopefully you will figure it out to solve it. If you need any help, let me know with the code snippet.

Regarding error message, my understanding is that the message is for logging only and 401 usually don't return any message. However if you want a custom message then perhaps write it to response or use response header.

[2022-11-02 19:04] krajnak-mary commented on #32
I have also noticed the "No Api Key found in the request" error will appear if multiple authentication methods are specified for the same location. For example, if you have specified several schemes for AddApiKeyInHeader.

Version: 6.0.1

[2022-11-22 21:17] mihirdilip commented on #33
Assuming that this is no longer a problem and closing this issue.

[2022-11-22 21:17] #33 closed, assigned to nobody

[2022-11-22 21:26] mihirdilip commented on #31
I am closing this as the thread is no longer active.

[2022-11-22 21:26] #31 closed, assigned to nobody

[2022-11-22 23:58] mihirdilip commented on #32
I have just published version 7.0.0 where I have changed the level of this log from Information to Debug. I hope this helps.

[2022-11-22 23:58] #32 closed, assigned to nobody